* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1.company_name {
  margin-left: 10px;
}

header img {
  position: fixed;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 15px;
  width: 150px;
  height: 85px;
}

.form__box {
  border: 1px solid;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn__submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  margin-top: 100px;
  border-top: 1px solid;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}
